<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XHC@14000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              UK01@14100000  &lt;class AppleUSB20XHCIPort, id 0x100000336</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000336</string>
				<key>name</key>
				<string>UK01</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK01@14100000</string>
				<key>address</key>
				<string>14100000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>01000000</string>
				<key>comment</key>
				<string>Front Left USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              UK02@14200000  &lt;class AppleUSB20XHCIPort, id 0x100000339</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000339</string>
				<key>name</key>
				<string>UK02</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 2.0 FD</string>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK02@14200000</string>
				<key>address</key>
				<string>14200000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>02000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Front Right USB 3 Type-A</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>              UK03@14300000  &lt;class AppleUSB20XHCIPort, id 0x10000033a</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033a</string>
				<key>name</key>
				<string>UK03</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK03@14300000</string>
				<key>address</key>
				<string>14300000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>03000000</string>
				<key>comment</key>
				<string>Back Bottom R2 USB 3 Type-A</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>              UK04@14400000  &lt;class AppleUSB20XHCIPort, id 0x10000033b</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033b</string>
				<key>name</key>
				<string>UK04</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK04@14400000</string>
				<key>address</key>
				<string>14400000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>04000000</string>
				<key>comment</key>
				<string>Back Bottom R1 USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>              UK05@14500000  &lt;class AppleUSB20XHCIPort, id 0x10000033c</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033c</string>
				<key>name</key>
				<string>UK05</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK05@14500000</string>
				<key>address</key>
				<string>14500000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>Back Bottom L2 USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>              UK06@14600000  &lt;class AppleUSB20XHCIPort, id 0x10000033d</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033d</string>
				<key>name</key>
				<string>UK06</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - Komplete Audio 6</string>
				</array>
				<key>full_name</key>
				<string>UK06@14600000</string>
				<key>address</key>
				<string>14600000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>06000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Back Bottom L1 USB 3 Type-A</string>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>              UK07@14700000  &lt;class AppleUSB20XHCIPort, id 0x10000033f</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033f</string>
				<key>name</key>
				<string>UK07</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK07@14700000</string>
				<key>address</key>
				<string>14700000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>07000000</string>
				<key>comment</key>
				<string>Back Top R2 USB 2 Type-A</string>
				<key>enabled</key>
				<false/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>              UK08@14800000  &lt;class AppleUSB20XHCIPort, id 0x100000340</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000340</string>
				<key>name</key>
				<string>UK08</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK08@14800000</string>
				<key>address</key>
				<string>14800000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>08000000</string>
				<key>comment</key>
				<string>Back Top R1 USB 2 Type-A</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>09000000</key>
			<dict>
				<key>line</key>
				<string>              UK09@14100000  &lt;class AppleUSB20XHCIPort, id 0x100000335</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000341</string>
				<key>name</key>
				<string>UK09</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - G700s Rechargeable Gaming Mouse</string>
				</array>
				<key>full_name</key>
				<string>UK09@14100000</string>
				<key>address</key>
				<string>14100000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>09000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Back Top L2 USB 2 Type-A</string>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>0a000000</key>
			<dict>
				<key>line</key>
				<string>              UK10@14200000  &lt;class AppleUSB20XHCIPort, id 0x100000339</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000342</string>
				<key>name</key>
				<string>UK10</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - Corsair Gaming K70 LUX RGB Keyboard </string>
				</array>
				<key>full_name</key>
				<string>UK10@14200000</string>
				<key>address</key>
				<string>14200000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>0a000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Back Top L1 USB 2 Type-A</string>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>0b000000</key>
			<dict>
				<key>line</key>
				<string>              UK11@14b00000  &lt;class AppleUSB20XHCIPort, id 0x100000343</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000343</string>
				<key>name</key>
				<string>UK11</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - BCM20702A0</string>
				</array>
				<key>full_name</key>
				<string>UK11@14b00000</string>
				<key>address</key>
				<string>14b00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>0b000000</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>0c000000</key>
			<dict>
				<key>line</key>
				<string>              UK12@14c00000  &lt;class AppleUSB20XHCIPort, id 0x100000344</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000344</string>
				<key>name</key>
				<string>UK12</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - AURA LED Controller</string>
				</array>
				<key>full_name</key>
				<string>UK12@14c00000</string>
				<key>address</key>
				<string>14c00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>0c000000</string>
				<key>enabled</key>
				<false/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>0d000000</key>
			<dict>
				<key>line</key>
				<string>              UK13@14d00000  &lt;class AppleUSB20XHCIPort, id 0x100000345</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000345</string>
				<key>name</key>
				<string>UK13</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB2.0 Hub</string>
					<string>        - AppleUSB20Hub</string>
					<string>            - NZXT USB Device</string>
				</array>
				<key>full_name</key>
				<string>UK13@14d00000</string>
				<key>address</key>
				<string>14d00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>0d000000</string>
				<key>enabled</key>
				<false/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>0e000000</key>
			<dict>
				<key>line</key>
				<string>              UK14@14e00000  &lt;class AppleUSB20XHCIPort, id 0x100000346</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000346</string>
				<key>name</key>
				<string>UK14</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB2.0 Hub</string>
					<string>        - AppleUSB20Hub</string>
					<string>            - NZXT USB Device</string>
					<string>            - USB 2.0 FD</string>
					<string>            - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK14@14e00000</string>
				<key>address</key>
				<string>14e00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>0e000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Front USB 2 - Internal</string>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>0f000000</key>
			<dict>
				<key>line</key>
				<string>              UK15@14f00000  &lt;class AppleUSB20XHCIPort, id 0x100000347</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000347</string>
				<key>name</key>
				<string>UK15</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK15@14f00000</string>
				<key>address</key>
				<string>14f00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>0f000000</string>
			</dict>
			<key>10000000</key>
			<dict>
				<key>line</key>
				<string>              UK16@14300000  &lt;class AppleUSB20XHCIPort, id 0x10000033a</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033a</string>
				<key>name</key>
				<string>UK16</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK16@14300000</string>
				<key>address</key>
				<string>14300000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>10000000</string>
			</dict>
			<key>11000000</key>
			<dict>
				<key>line</key>
				<string>              UK17@14400000  &lt;class AppleUSB30XHCIPort, id 0x10000033b</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033b</string>
				<key>name</key>
				<string>UK17</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK17@14400000</string>
				<key>address</key>
				<string>14400000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>11000000</string>
				<key>comment</key>
				<string>Front Left USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>12000000</key>
			<dict>
				<key>line</key>
				<string>              UK18@14500000  &lt;class AppleUSB30XHCIPort, id 0x10000033c</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033c</string>
				<key>name</key>
				<string>UK18</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK18@14500000</string>
				<key>address</key>
				<string>14500000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>12000000</string>
				<key>comment</key>
				<string>Front Right USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>13000000</key>
			<dict>
				<key>line</key>
				<string>              UK19@14600000  &lt;class AppleUSB30XHCIPort, id 0x10000033d</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033d</string>
				<key>name</key>
				<string>UK19</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK19@14600000</string>
				<key>address</key>
				<string>14600000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>13000000</string>
				<key>comment</key>
				<string>Back Bottom R2 USB 3 Type-A</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>14000000</key>
			<dict>
				<key>line</key>
				<string>              UK20@14700000  &lt;class AppleUSB30XHCIPort, id 0x10000033e</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033e</string>
				<key>name</key>
				<string>UK20</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK20@14700000</string>
				<key>address</key>
				<string>14700000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>14000000</string>
				<key>comment</key>
				<string>Back Bottom R1 USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>15000000</key>
			<dict>
				<key>line</key>
				<string>              UK21@14800000  &lt;class AppleUSB30XHCIPort, id 0x10000033f</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033f</string>
				<key>name</key>
				<string>UK21</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK21@14800000</string>
				<key>address</key>
				<string>14800000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>15000000</string>
				<key>comment</key>
				<string>Back Bottom L2 USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>16000000</key>
			<dict>
				<key>line</key>
				<string>              UK22@14900000  &lt;class AppleUSB30XHCIPort, id 0x100000340</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000340</string>
				<key>name</key>
				<string>UK22</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK22@14900000</string>
				<key>address</key>
				<string>14900000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>16000000</string>
				<key>comment</key>
				<string>Back Bottom L1 USB 3 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>17000000</key>
			<dict>
				<key>line</key>
				<string>              UK23@14a00000  &lt;class AppleUSB30XHCIPort, id 0x100000342</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000342</string>
				<key>name</key>
				<string>UK23</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK23@14a00000</string>
				<key>address</key>
				<string>14a00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>17000000</string>
			</dict>
			<key>18000000</key>
			<dict>
				<key>line</key>
				<string>              UK24@14b00000  &lt;class AppleUSB30XHCIPort, id 0x100000343</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000343</string>
				<key>name</key>
				<string>UK24</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK24@14b00000</string>
				<key>address</key>
				<string>14b00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>18000000</string>
			</dict>
			<key>19000000</key>
			<dict>
				<key>line</key>
				<string>              UK25@14c00000  &lt;class AppleUSB30XHCIPort, id 0x100000344</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000344</string>
				<key>name</key>
				<string>UK25</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK25@14c00000</string>
				<key>address</key>
				<string>14c00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>19000000</string>
			</dict>
			<key>1a000000</key>
			<dict>
				<key>line</key>
				<string>              UK26@14d00000  &lt;class AppleUSB30XHCIPort, id 0x100000345</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000345</string>
				<key>name</key>
				<string>UK26</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK26@14d00000</string>
				<key>address</key>
				<string>14d00000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>1a000000</string>
			</dict>
		</dict>
		<key>line</key>
		<string>            XHC@14000000  &lt;class AppleUSBXHCISPT, id 0x10000030b</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000030b</string>
		<key>name</key>
		<string>XHC</string>
		<key>type</key>
		<string>AppleUSBXHCISPT</string>
		<key>items</key>
		<array/>
		<key>full_name</key>
		<string>XHC@14000000</string>
		<key>address</key>
		<string>14000000</string>
		<key>index</key>
		<integer>2824</integer>
		<key>parent</key>
		<string>XHC@14</string>
		<key>parent_name</key>
		<string>XHC</string>
		<key>parent_index</key>
		<integer>2787</integer>
		<key>acpi_address</key>
		<string>0x00140000</string>
		<key>pci_debug</key>
		<string>0:20:0</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC@14/XHC@14000000</string>
	</dict>
	<key>PXSX@00000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                  UK01@01100000  &lt;class AppleUSB30XHCIPort, id 0x10000035b</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000357</string>
				<key>name</key>
				<string>UK01</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK01@01100000</string>
				<key>address</key>
				<string>01100000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>01000000</string>
				<key>type_override</key>
				<integer>9</integer>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>ASMedia USB 3.1 Type-C</string>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                  UK02@01200000  &lt;class AppleUSB30XHCIPort, id 0x10000035c</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000358</string>
				<key>name</key>
				<string>UK02</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB 3.0 FD</string>
				</array>
				<key>full_name</key>
				<string>UK02@01200000</string>
				<key>address</key>
				<string>01200000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>02000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>ASMedia USB 3.1 Type-A</string>
				<key>type_override</key>
				<integer>9</integer>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                  UK03@01300000  &lt;class AppleUSB20XHCIPort, id 0x10000035d</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000359</string>
				<key>name</key>
				<string>UK03</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - Pixel 6a</string>
				</array>
				<key>full_name</key>
				<string>UK03@01300000</string>
				<key>address</key>
				<string>01300000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>03000000</string>
				<key>comment</key>
				<string>ASMedia USB 3.1 Type-C</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                  UK04@01400000  &lt;class AppleUSB20XHCIPort, id 0x10000035e</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x10000035a</string>
				<key>name</key>
				<string>UK04</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SNES Controller USB</string>
				</array>
				<key>full_name</key>
				<string>UK04@01400000</string>
				<key>address</key>
				<string>01400000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>04000000</string>
				<key>comment</key>
				<string>ASMedia USB 3.1 Type-A</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>line</key>
		<string>                PXSX@01000000  &lt;class AppleASMediaUSBXHCI, id 0x10000032d</string>
		<key>indent</key>
		<integer>16</integer>
		<key>id</key>
		<string>0x10000032d</string>
		<key>name</key>
		<string>PXSX</string>
		<key>type</key>
		<string>AppleASMediaUSBXHCI</string>
		<key>items</key>
		<array/>
		<key>full_name</key>
		<string>PXSX@01000000</string>
		<key>address</key>
		<string>01000000</string>
		<key>index</key>
		<integer>6226</integer>
		<key>parent</key>
		<string>PXSX@0</string>
		<key>parent_name</key>
		<string>PXSX</string>
		<key>parent_index</key>
		<integer>6187</integer>
		<key>acpi_address</key>
		<string>Zero</string>
		<key>pci_debug</key>
		<string>5:0:0</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/RP05@1c0004/PXSX@0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/RP05@1C,4/IOPP/PXSX@0/PXSX@01000000</string>
	</dict>
	<key>PXSX@01000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                  UK01@00100000  &lt;class AppleUSB30XHCIPort, id 0x100000353</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x10000035f</string>
				<key>name</key>
				<string>UK01</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK01@00100000</string>
				<key>address</key>
				<string>00100000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>01000000</string>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                  UK02@00200000  &lt;class AppleUSB30XHCIPort, id 0x100000354</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000360</string>
				<key>name</key>
				<string>UK02</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK02@00200000</string>
				<key>address</key>
				<string>00200000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                  UK03@00300000  &lt;class AppleUSB20XHCIPort, id 0x100000355</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000361</string>
				<key>name</key>
				<string>UK03</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK03@00300000</string>
				<key>address</key>
				<string>00300000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>03000000</string>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                  UK04@00400000  &lt;class AppleUSB20XHCIPort, id 0x100000356</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000362</string>
				<key>name</key>
				<string>UK04</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>UK04@00400000</string>
				<key>address</key>
				<string>00400000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>04000000</string>
			</dict>
		</dict>
		<key>line</key>
		<string>                PXSX@00000000  &lt;class AppleASMediaUSBXHCI, id 0x10000032b</string>
		<key>indent</key>
		<integer>16</integer>
		<key>id</key>
		<string>0x10000032b</string>
		<key>name</key>
		<string>PXSX</string>
		<key>type</key>
		<string>AppleASMediaUSBXHCI</string>
		<key>items</key>
		<array/>
		<key>full_name</key>
		<string>PXSX@00000000</string>
		<key>address</key>
		<string>00000000</string>
		<key>index</key>
		<integer>6418</integer>
		<key>parent</key>
		<string>PXSX@0</string>
		<key>parent_name</key>
		<string>PXSX</string>
		<key>parent_index</key>
		<integer>6379</integer>
		<key>acpi_address</key>
		<string>Zero</string>
		<key>pci_debug</key>
		<string>6:0:0</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/RP07@1c0006/PXSX@0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/RP07@1C,6/IOPP/PXSX@0/PXSX@00000000</string>
	</dict>
</dict>
</plist>
