<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001-04366</key>
	<dict>
		<key>build</key>
		<string>19E2269</string>
		<key>date</key>
		<date>2020-05-04T15:32:04Z</date>
		<key>description</key>
		<string>macOS 10.15 is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-04366</string>
		<key>time</key>
		<real>1588577524.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.4</string>
	</dict>
	<key>001-15219</key>
	<dict>
		<key>build</key>
		<string>19F2200</string>
		<key>date</key>
		<date>2020-06-15T18:52:41Z</date>
		<key>description</key>
		<string>macOS 10.15 is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-15219</string>
		<key>time</key>
		<real>1592218361.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.5</string>
	</dict>
	<key>001-36735</key>
	<dict>
		<key>build</key>
		<string>19G2006</string>
		<key>date</key>
		<date>2020-08-06T23:39:24Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-36735</string>
		<key>time</key>
		<real>1596728364.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.6</string>
	</dict>
	<key>001-36801</key>
	<dict>
		<key>build</key>
		<string>19G2021</string>
		<key>date</key>
		<date>2020-08-12T20:04:02Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-36801</string>
		<key>time</key>
		<real>1597233842.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.6</string>
	</dict>
	<key>001-51042</key>
	<dict>
		<key>build</key>
		<string>19H2</string>
		<key>date</key>
		<date>2020-09-24T17:09:31Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-51042</string>
		<key>time</key>
		<real>1600938571.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.7</string>
	</dict>
	<key>001-57224</key>
	<dict>
		<key>build</key>
		<string>19H4</string>
		<key>date</key>
		<date>2020-10-27T17:28:13Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-57224</string>
		<key>time</key>
		<real>1603790893.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.7</string>
	</dict>
	<key>001-68446</key>
	<dict>
		<key>build</key>
		<string>19H15</string>
		<key>date</key>
		<date>2020-11-11T17:48:09Z</date>
		<key>description</key>
		<string>macOS Catalina is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>001-68446</string>
		<key>time</key>
		<real>1605088089.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.7</string>
	</dict>
	<key>041-88800</key>
	<dict>
		<key>build</key>
		<string>18E2034</string>
		<key>date</key>
		<date>2019-10-23T14:41:18Z</date>
		<key>description</key>
		<string>macOS Mojave is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>041-88800</string>
		<key>time</key>
		<real>1571812878.0</real>
		<key>title</key>
		<string>macOS Mojave</string>
		<key>version</key>
		<string>10.14.4</string>
	</dict>
	<key>041-90855</key>
	<dict>
		<key>build</key>
		<string>17F66a</string>
		<key>date</key>
		<date>2019-10-23T14:41:18Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>041-90855</string>
		<key>time</key>
		<real>1571812878.0</real>
		<key>title</key>
		<string>Install macOS High Sierra Beta</string>
		<key>version</key>
		<string>10.13.5</string>
	</dict>
	<key>041-91758</key>
	<dict>
		<key>build</key>
		<string>17G66</string>
		<key>date</key>
		<date>2019-10-19T18:19:55Z</date>
		<key>description</key>
		<string>macOS High Sierra is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>041-91758</string>
		<key>time</key>
		<real>1571480395.0</real>
		<key>title</key>
		<string>macOS High Sierra</string>
		<key>version</key>
		<string>10.13.6</string>
	</dict>
	<key>042-45246</key>
	<dict>
		<key>build</key>
		<string>20G1427</string>
		<key>date</key>
		<date>2023-09-11T17:15:11Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j185fap</string>
			<string>x589iclyap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j140aap</string>
			<string>j456ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j230ap</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j780ap</string>
			<string>j293ap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j132ap</string>
			<string>j213ap</string>
			<string>j274ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>042-45246</string>
		<key>time</key>
		<real>1694423711.0</real>
		<key>title</key>
		<string>macOS Big Sur</string>
		<key>version</key>
		<string>11.7.10</string>
	</dict>
	<key>047-32248</key>
	<dict>
		<key>build</key>
		<string>20G1443</string>
		<key>date</key>
		<date>2026-02-02T18:46:21Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j185fap</string>
			<string>x589iclyap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j140aap</string>
			<string>j456ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j230ap</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j780ap</string>
			<string>j293ap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j132ap</string>
			<string>j213ap</string>
			<string>j274ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>047-32248</string>
		<key>time</key>
		<real>1770029181.0</real>
		<key>title</key>
		<string>macOS Big Sur</string>
		<key>version</key>
		<string>11.7.11</string>
	</dict>
	<key>052-60131</key>
	<dict>
		<key>build</key>
		<string>21H1123</string>
		<key>date</key>
		<date>2024-03-18T17:11:48Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j223ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j316cap</string>
			<string>j140aap</string>
			<string>j456ap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j230ap</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j780ap</string>
			<string>j293ap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j274ap</string>
			<string>j493ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>052-60131</string>
		<key>time</key>
		<real>1710753108.0</real>
		<key>title</key>
		<string>macOS Monterey</string>
		<key>version</key>
		<string>12.7.4</string>
	</dict>
	<key>061-26578</key>
	<dict>
		<key>build</key>
		<string>18F2059</string>
		<key>date</key>
		<date>2019-10-14T20:38:26Z</date>
		<key>description</key>
		<string>macOS Mojave is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>061-26578</string>
		<key>time</key>
		<real>1571056706.0</real>
		<key>title</key>
		<string>macOS Mojave</string>
		<key>version</key>
		<string>10.14.5</string>
	</dict>
	<key>061-26589</key>
	<dict>
		<key>build</key>
		<string>18G103</string>
		<key>date</key>
		<date>2019-10-14T20:51:08Z</date>
		<key>description</key>
		<string>macOS Mojave is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>061-26589</string>
		<key>time</key>
		<real>1571057468.0</real>
		<key>title</key>
		<string>macOS Mojave</string>
		<key>version</key>
		<string>10.14.6</string>
	</dict>
	<key>061-86291</key>
	<dict>
		<key>build</key>
		<string>19D2064</string>
		<key>date</key>
		<date>2020-03-23T21:41:00Z</date>
		<key>description</key>
		<string>macOS 10.15 is recommended for all users.</string>
		<key>device_ids</key>
		<array/>
		<key>installer</key>
		<true/>
		<key>product</key>
		<string>061-86291</string>
		<key>time</key>
		<real>1584970860.0</real>
		<key>title</key>
		<string>macOS Catalina</string>
		<key>version</key>
		<string>10.15.3</string>
	</dict>
	<key>062-40406</key>
	<dict>
		<key>build</key>
		<string>21H1320</string>
		<key>date</key>
		<date>2026-02-09T18:30:00Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j223ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j316cap</string>
			<string>j140aap</string>
			<string>j456ap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j230ap</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j780ap</string>
			<string>j293ap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j274ap</string>
			<string>j493ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>062-40406</string>
		<key>time</key>
		<real>1770633000.0</real>
		<key>title</key>
		<string>macOS Monterey</string>
		<key>version</key>
		<string>12.7.6</string>
	</dict>
	<key>093-22004</key>
	<dict>
		<key>build</key>
		<string>22H730</string>
		<key>date</key>
		<date>2025-08-27T17:09:43Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j223ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j140aap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j174ap</string>
			<string>j457ap</string>
			<string>j230ap</string>
			<string>j433ap</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j213ap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>093-22004</string>
		<key>time</key>
		<real>1756285783.0</real>
		<key>title</key>
		<string>macOS Ventura</string>
		<key>version</key>
		<string>13.7.8</string>
	</dict>
	<key>122-77891</key>
	<dict>
		<key>build</key>
		<string>23J520</string>
		<key>date</key>
		<date>2026-05-18T17:12:04Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j140aap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j516map</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>122-77891</string>
		<key>time</key>
		<real>1779095524.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.8.7</string>
	</dict>
	<key>122-77920</key>
	<dict>
		<key>build</key>
		<string>24G720</string>
		<key>date</key>
		<date>2026-05-18T17:11:00Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j575dap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j614cap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>122-77920</string>
		<key>time</key>
		<real>1779095460.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.7.7</string>
	</dict>
	<key>140-36226</key>
	<dict>
		<key>build</key>
		<string>25F84</string>
		<key>date</key>
		<date>2026-07-07T17:36:47Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j704ap</string>
			<string>j185ap</string>
			<string>j493ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-36226</string>
		<key>time</key>
		<real>1783417007.0</real>
		<key>title</key>
		<string>macOS Tahoe</string>
		<key>version</key>
		<string>26.5.2</string>
	</dict>
	<key>140-71750</key>
	<dict>
		<key>build</key>
		<string>25G72</string>
		<key>date</key>
		<date>2026-07-27T18:01:08Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j704ap</string>
			<string>j185ap</string>
			<string>j493ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-71750</string>
		<key>time</key>
		<real>1785146468.0</real>
		<key>title</key>
		<string>macOS Tahoe</string>
		<key>version</key>
		<string>26.6</string>
	</dict>
	<key>140-71763</key>
	<dict>
		<key>build</key>
		<string>24G824</string>
		<key>date</key>
		<date>2026-07-27T18:12:55Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j575dap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j614cap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-71763</string>
		<key>time</key>
		<real>1785147175.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.7.8</string>
	</dict>
	<key>140-75436</key>
	<dict>
		<key>build</key>
		<string>23J620</string>
		<key>date</key>
		<date>2026-07-27T18:14:35Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j140aap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j516map</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-75436</string>
		<key>time</key>
		<real>1785147275.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.8.8</string>
	</dict>
	<key>140-77964</key>
	<dict>
		<key>build</key>
		<string>25G76</string>
		<key>date</key>
		<date>2026-08-06T17:22:02Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j704ap</string>
			<string>j185ap</string>
			<string>j493ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-77964</string>
		<key>time</key>
		<real>1786008122.0</real>
		<key>title</key>
		<string>macOS Tahoe</string>
		<key>version</key>
		<string>26.6.1</string>
	</dict>
	<key>140-85388</key>
	<dict>
		<key>build</key>
		<string>24G830</string>
		<key>date</key>
		<date>2026-08-24T22:50:03Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j575dap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j614cap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-85388</string>
		<key>time</key>
		<real>1787583003.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.7.9</string>
	</dict>
	<key>140-88558</key>
	<dict>
		<key>build</key>
		<string>23J631</string>
		<key>date</key>
		<date>2026-08-24T22:50:35Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j140kap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j140aap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j516map</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>x589amluap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-88558</string>
		<key>time</key>
		<real>1787583035.0</real>
		<key>title</key>
		<string>macOS Sonoma</string>
		<key>version</key>
		<string>14.8.9</string>
	</dict>
	<key>140-93587</key>
	<dict>
		<key>build</key>
		<string>25G83</string>
		<key>date</key>
		<date>2026-08-24T22:49:27Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j704ap</string>
			<string>j185ap</string>
			<string>j493ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>140-93587</string>
		<key>time</key>
		<real>1787582967.0</real>
		<key>title</key>
		<string>macOS Tahoe</string>
		<key>version</key>
		<string>26.6.2</string>
	</dict>
	<key>142-15488</key>
	<dict>
		<key>build</key>
		<string>26A428</string>
		<key>date</key>
		<date>2026-09-14T17:13:11Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j775dap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j616sap</string>
			<string>j873gap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j704ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j873sap</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j773sap</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j775cap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j493ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>142-15488</string>
		<key>time</key>
		<real>1789377191.0</real>
		<key>title</key>
		<string>macOS 27 Golden Gate</string>
		<key>version</key>
		<string>27.0</string>
	</dict>
	<key>142-16660</key>
	<dict>
		<key>build</key>
		<string>24H23</string>
		<key>date</key>
		<date>2026-09-14T17:22:22Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j575dap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j614cap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>142-16660</string>
		<key>time</key>
		<real>1789377742.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.8</string>
	</dict>
	<key>142-16670</key>
	<dict>
		<key>build</key>
		<string>25G229</string>
		<key>date</key>
		<date>2026-09-14T17:20:59Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j704ap</string>
			<string>j185ap</string>
			<string>j493ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>142-16670</string>
		<key>time</key>
		<real>1789377659.0</real>
		<key>title</key>
		<string>macOS Tahoe</string>
		<key>version</key>
		<string>26.7</string>
	</dict>
	<key>142-27367</key>
	<dict>
		<key>build</key>
		<string>26A434</string>
		<key>date</key>
		<date>2026-09-28T17:20:12Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j775dap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j616sap</string>
			<string>j873gap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j704ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j873sap</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j773sap</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j775cap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j493ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>142-27367</string>
		<key>time</key>
		<real>1790587212.0</real>
		<key>title</key>
		<string>macOS 27 Golden Gate</string>
		<key>version</key>
		<string>27.0.1</string>
	</dict>
	<key>142-27431</key>
	<dict>
		<key>build</key>
		<string>24H32</string>
		<key>date</key>
		<date>2026-09-28T17:27:52Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j680ap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j575dap</string>
			<string>j516sap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j174ap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j230ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j137ap</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j185ap</string>
			<string>j230kap</string>
			<string>j493ap</string>
			<string>j780ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j132ap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j314cap</string>
			<string>j213ap</string>
			<string>j415ap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>j223ap</string>
			<string>j214ap</string>
			<string>x86legacyap</string>
			<string>j614cap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>142-27431</string>
		<key>time</key>
		<real>1790587672.0</real>
		<key>title</key>
		<string>macOS Sequoia</string>
		<key>version</key>
		<string>15.8.1</string>
	</dict>
	<key>142-28081</key>
	<dict>
		<key>build</key>
		<string>25G241</string>
		<key>date</key>
		<date>2026-09-28T17:27:06Z</date>
		<key>description</key>
		<string></string>
		<key>device_ids</key>
		<array>
			<string>j313ap</string>
			<string>j473ap</string>
			<string>j185fap</string>
			<string>vma2macosap</string>
			<string>j180dap</string>
			<string>j414cap</string>
			<string>j475dap</string>
			<string>j413ap</string>
			<string>j152fap</string>
			<string>j160ap</string>
			<string>j616sap</string>
			<string>j514sap</string>
			<string>j516cap</string>
			<string>j416cap</string>
			<string>j316cap</string>
			<string>j813ap</string>
			<string>j575dap</string>
			<string>j714cap</string>
			<string>j456ap</string>
			<string>j475cap</string>
			<string>j615ap</string>
			<string>j614cap</string>
			<string>j516sap</string>
			<string>j575cap</string>
			<string>j314sap</string>
			<string>j504ap</string>
			<string>j457ap</string>
			<string>j713ap</string>
			<string>j614sap</string>
			<string>x589amluap</string>
			<string>j433ap</string>
			<string>j613ap</string>
			<string>j514map</string>
			<string>j624ap</string>
			<string>j616cap</string>
			<string>j215ap</string>
			<string>j704ap</string>
			<string>j185ap</string>
			<string>j493ap</string>
			<string>j604ap</string>
			<string>j516map</string>
			<string>j716cap</string>
			<string>j623ap</string>
			<string>j474sap</string>
			<string>j293ap</string>
			<string>j414sap</string>
			<string>j214kap</string>
			<string>j773sap</string>
			<string>vmm-x86_64</string>
			<string>j375dap</string>
			<string>j715ap</string>
			<string>j514cap</string>
			<string>j416sap</string>
			<string>j316sap</string>
			<string>j375cap</string>
			<string>j700ap</string>
			<string>j314cap</string>
			<string>j415ap</string>
			<string>j714sap</string>
			<string>j773gap</string>
			<string>j274ap</string>
			<string>j434ap</string>
			<string>x86legacyap</string>
			<string>j214ap</string>
			<string>j716sap</string>
			<string>j815ap</string>
		</array>
		<key>installer</key>
		<false/>
		<key>product</key>
		<string>142-28081</string>
		<key>time</key>
		<real>1790587626.0</real>
		<key>title</key>
		<string>macOS Tahoe</string>
		<key>version</key>
		<string>26.7.1</string>
	</dict>
</dict>
</plist>
